<nav id="assertion-menu" class="sidebar js-remember-scroll-position">
    <% Object.keys(assertionsByType).forEach(function (type) { %>
        <h3 class="<%= url === '/assertions/' + type + '/' ? 'active' : '' %>"><a href="<%= ((layout === 'type.ejs' ? '../' : '../../') + type + '/') %>"><%= type %></a></h3>
        <ul>
            <% assertionsByType[type].forEach(function (assertion) { %>
            <li class="<%= '/' + path + '/' === assertion.url ? 'active' : '' %>">
                <a href="<%= ((layout === 'type.ejs' ? '../' : '../../') + assertion.type + '/' + assertion.pageName + '/') %>"><%= assertion.title %></a>
            </li>
            <% }) %>
        </ul>
    <% }) %>
</nav>
