<nav id="assertion-menu" class="sidebar js-remember-scroll-position">
    <% Object.keys(assertionsByType).forEach(function (type) { %>
        <h3 class="<%= path === 'assertions/' + type ? 'active' : '' %>"><a href="<%= (relative('/assertions/' + type + '/') || '.') + '/' %>"><%= type %></a></h3>
        <ul>
            <% assertionsByType[type].forEach(function (assertion) { %>
            <li class="<%= '/' + path + '/' === assertion.url ? 'active' : '' %>">
                <a href="<%= (relative(assertion.url) || '.') + '/' %>"><%= assertion.title %></a>
            </li>
            <% }) %>
        </ul>
    <% }) %>
</nav>
