<script type="text/javascript">
    baseUrl = '<%= baseUrl %>';
</script>
<script type="text/javascript" src="<%= baseUrl %><%= 'static/toggleSidebar.js' %>"></script>
<script type="text/javascript" src="<%= baseUrl %><%= 'static/rememberScrollPosition.js' %>"></script>
<script type="text/javascript" src="<%= baseUrl %><%= 'static/focusMain.js' %>"></script>
<script type="text/javascript" src="<%= baseUrl %><%= 'static/search.js' %>"></script>
</body>
</html>
